h2{
	text-align: center;
}

div{
	background-color: #0000cc;
	color: #ffffff;
	box-sizing: border-box;

	width: 48%;
	display: inline-block;
	height: 200px;
	margin: 50px;
	border: 20px solid #0000ff;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
}